<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Форма контактів</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <h1>Форма контактів</h1>

    <form id="contactForm">

        <input
            type="text"
            name="name"
            placeholder="Ваше ім'я"
            required>

        <input
            type="email"
            name="email"
            placeholder="Ваш Email"
            required>

        <input
            type="text"
            name="subject"
            placeholder="Тема"
            required>

        <textarea
            name="message"
            placeholder="повідомлення"
            required>
        </textarea>

        <button type="submit">
            Надіслати повідомлення
        </button>

    </form>

</div>

<script src="/js/contact.js"></script>

</body>
</html>